.top-wrapper {
  background-image: image-url("book.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 8rem;
    color: teal;

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}
